In [12]:
#import relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.pylab as plb
import os
import warnings
import json

%pip install quantities


from datetime import datetime
from quantities import units

%matplotlb inline
warnings.filterwarnings('ignore')

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\DONKAMS\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Collecting quantitiesNote: you may need to restart the kernel to use updated packages.

  Downloading quantities-0.14.1-py3-none-any.whl (87 kB)
     ---------------------------------------- 0.0/87.9 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/87.9 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/87.9 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/87.9 kB ? eta -:--:--
     ------------- ------------------------ 30.7/87.9 kB 131.3 kB/s eta 0:00:01
     ------------- ------------------------ 30.7/87.9 kB 131.3 kB/s eta 0:00:01
     ----------------- -------------------- 41.0/87.9 kB 115.5 kB/s eta 0:00:01
     ----------------- -------------------- 41.0/87.9 kB 115.5 kB/s eta 0:00:01
     ----------------- -------------------- 41.0/87.9 kB 115.5 kB/s eta 0:00:01
     ----------------- -------------------- 41.0/87.9 kB 115.5 kB/s eta 0:00:01
     ----------------- -------------------- 41.0/87.9 kB 115.5 kB/s eta 0:00:01
     ----------------- -------------------- 41.0/87.9 kB 115.5 kB/s eta 0:00:01
     -------------------------------------- 87.9/87.9 kB 146.3 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19 in c:\users\donkams\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from quantities) (1.25.2)
Installing collected packages: quantities
Successfully installed quantities-0.14.1

UsageError: Line magic function `%matplotlb` not found.

In [7]:
#load all related dataset
df_prod= pd.read_csv('C:/Users/DONKAMS/Downloads/Stage-D-Exercise/Dataset (Prep)/Africa Food Production (2004 - 2013).csv')
df_supp= pd.read_csv('C:/Users/DONKAMS/Downloads/Stage-D-Exercise/Dataset (Prep)/Africa Food Supply (2004 - 2013).csv')

In [9]:
#check the out
df_prod.sample(5)

          Country                  Item  Year  Value
2641   Cabo Verde                  Beer  2005      2
20114     Tunisia     Sweeteners, Other  2008      3
22043      Zambia  Sorghum and products  2007     13
4254         Chad          Butter, Ghee  2008      0
13035   Mauritius                  Eggs  2009     10

In [10]:
df_supp.sample(5)

                         Country  Year  Value
424  United Republic of Tanzania  2008   2132
276                      Morocco  2010   3294
19                        Angola  2013   2473
354                 Sierra Leone  2008   2197
177                       Guinea  2011   2546

In [ ]:
#function to convert date strings to DateObjects
def convert_to_date_object(date_str):
    # Convert a date string to a DateObject
    return datetime.strptime(date_str, '%Y-%m-%d').date()

#function to add units to values, returning them as Quantities.
def add_units_to_value(value, unit='kilotons'):
    # Add units to a value and return it as a Quantity
    if unit == 'kilotons':
        return value * units.kiloton
    else:
        # You can add more unit options as needed
        return value * units(unit)

# Example usage:
date_str = df_prod['Year']
date_object = convert_to_date_object(date_str)
value = df_prod['Value']  # Assuming a value of 1000
quantity = add_units_to_value(value)

print("DateObject:", date_object)
print("Quantity:", quantity)

In [19]:
from datetime import datetime
import pandas as pd
from quantities import units, Quantity

# Define a custom unit for kilotons
kiloton = Quantity(1, units.kiloton)

def convert_to_date_object(year):
    # Convert a year to a DateObject
    return datetime(year, 1, 1).date()

def add_units_to_value(value, unit='kilotons'):
    # Add units to a value and return it as a Quantity
    if unit == 'kilotons':
        return value * kiloton
    else:
        # You can add more unit options as needed
        return Quantity(value, units(unit))

# Example usage with your data
data = df_prod

data['DateObject'] = data['Year'].apply(convert_to_date_object)
data['Quantity'] = data.apply(lambda row: add_units_to_value(row['Value'], row['Item']), axis=1)

print(data)

AttributeError: module 'quantities.units' has no attribute 'kiloton'

In [20]:
df_prod.shape, df_supp.shape

((23110, 5), (450, 3))